@charset "UFT-8";

html {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: Oxygen;
}


.button{
    display: inline-block;
    padding: .75em 2.5em;
    background: #58c4c4;
    border-radius: 5px;

    color: white;
    text-decoration: none;
}


.buttton:hover {
    background: #37a0a0;
}

.top-header{
    text-align: center;
}

.top-header-logo {
    margin: .5em;
}


.top-nav{
    background: #612674;
    text-align: center;
}

.top-nav ul{
    margin: 0;
    padding: 1em;
    list-style: none;
}

.top-nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top-nav a:hover {
   background: #7c3792;
  
}



.top-content {
    padding: 1em;
    text-align: center;
    background: #f6f6f6;
}


.top-content-title {
color: #612674;
font-size: 1,377em; /* 22 / 16 */
margin: 1,377em; 

}

.top-content-subtitle{
color: #a87bb7;
font-size: 1em;
line-height: 1.5;




}

.middle-content {
    padding: 2em;
    background-color: #f6f6f6;
    text-align: center;
} 


.middle-content-title{
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
}

.hidden {
    width: 0%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer{
    background-color: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer-menushare{
    background: #303d4c;
    padding: 1em;
}



.footer-menushare li {
    display: inline-block;
    margin: 0 1em;

}

.footer-menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}



.middle-content p{
    line-height: 1.5;
    color: #222;

}



.middle-content span[class^=icon]{
    font-size: 4em;
    color: #652e78;
}

.main-content{
    padding: 2em;
}

.main-content-article{
    margin-bottom: 3.5em;
}
.main-content-title{
    letter-spacing: .1em;
}